{
  "presets": ["babel-preset-env", "react", "flow"],
  "plugins": ["transform-runtime", "syntax-object-rest-spread", "transform-object-rest-spread", "add-react-displayname",  ["transform-class-properties", { "spec": true }]]
}